body {
    background-image: url('ellen-qin-pAyN5zqdqDo-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-color: #d1d1d1;
}

.header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 80px;
    font-family: 'Rajdhani', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.container-in {
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 209, 209, 0.5);
    padding: 20px;
    border: solid 3px #d1d1d1;
}

h2 {
    font-size: 50px;
    font-family: 'Rajdhani', sans-serif;
    margin: 0px;
}

h3 {
    font-size: 30px;
    font-family: 'Rajdhani', sans-serif;
}

.input-button {
    display: flex;
    justify-content: center;
}

.input {
    font-family: 'Rajdhani', sans-serif;
    padding: 20px;
    border: none;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 20px;
    outline: 0;
    outline-offset: 0;  
}

input[type=text]:focus::-webkit-input-placeholder {
    color: transparent;  
}


.button {
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
    padding: 20px;
    border-radius: 20px;
    border: none;
    outline: 0;
    outline-offset: 0;
}